@using HospitalManagement.Models.EntityModels
@using HospitalManagement.Models.ViewModels
@model IEnumerable<DoctorDepartment>



@{
    PageHeader ph = new PageHeader() { Title = "Manage Doctor Department" };
}
<partial name="../Shared/Widgets/_PageHeader.cshtml" model="ph" />


<section class="content">
<!-- Default box -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
                <a asp-controller="DoctorDepartment" class="btn btn-success" asp-action="Create">New Contents</a>
        </h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">

        <div class="card">

            <!-- /.card-header -->
            <div class="card-body p-0">

                <table class="table table-striped">
                    <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                                </tr>
                    </thead>


                        @foreach (DoctorDepartment dd in Model)
                {
                            <tr>
                                <td>@dd.Id</td>
                                <td>@dd.Name</td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-controller="DoctorDepartment" asp-action="Details" asp-route-id="@dd.Id" class="btn btn-success btn-sm">
                                            <i class="far fa-file-alt"></i>
                                        </a>
                                        <a asp-controller="DoctorDepartment" asp-action="Edit" asp-route-id="@dd.Id" class="btn btn-warning btn-sm">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a asp-controller="DoctorDepartment" asp-action="Delete" asp-route-id="@dd.Id" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                                </tr>
                }

                </table>
                    <partial name="../Shared/Widgets/_Pagination.cshtml" />
            </div>
            <!-- /.card-body -->
        </div>
       

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        Footer 
    </div>
    <!-- /.card-footer-->
</div>
<!-- /.card -->
</section>